body {
  margin: 0;
  background-color: rgb(159, 167, 167);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sketchInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 1rem;
}

.sketchInput > input {
  padding: 6px;
  border: none;
  border-radius: 8px;
}

.sketchInput > button {
  color: #fff;
  background-color: #d9bc74;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.squares {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.block {
  background-color: rgb(155, 48, 48);
  border: 1px solid black;
  cursor: pointer;
}

