.container {
  background-color: rgb(159, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}
.squares {
  display: flex;
  justify-content: center;
  margin: 100px;
  width: 100px;
  height: 100px;
}

.block {
  width: 20px;
  height: 20px;
  background-color: rgb(155, 48, 48);
  border: 1px solid black;
  cursor: pointer;
}

.changeColor {
  background-color: black;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}