.container {
  display: flex;
  background-color: aqua;
}
.content {
  display: flex;
}
.row {
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  border: 1px solid #000;
  display: flex;
}

.secondRow {
  width: 20px;
  height: 20px;
  background-color: rgb(139, 112, 165);
  border: 1px solid #000;
  display: flex;
}
